*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #000;

}
.TOP{
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  position: relative;
  bottom: 9em;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  color: #00FFC6;
  text-align: center;
  font-size: 2em;
  letter-spacing: 2px;
  cursor: default;
  margin: 100px 0 0;
  padding: 20px 30px;
  transition: 0.5s;
  overflow: hidden;

}
p i{
  position: absolute;
  display: flex;
}
p i:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg,transparent, #00FFC6);
  animation: animate1 1s linear infinite;
}
p i:nth-child(2){
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, transparent,#00FFC6);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
p i:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(2700deg, transparent, #00FFC6);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
p I:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(3600deg, transparent, #00FFC6);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate1 {
  0%{
    left:-100%;
  }
  50%,100%{
    left:100%;
  }
}
@keyframes animate2 {
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
@keyframes animate3 {
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
@keyframes animate4 {
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: #000;
}
.container{
  display: flex;
  padding-top: 20em;
}
.circle{
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 -7.5px;
}
.circle:nth-child(2)
{
  transform: rotate(-180deg);
}
.container .circle span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}
.container .circle span:before{
  content: '';
  position: absolute;
  right: 0;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
  background: #00ff0a;
  border-radius: 50%;
  box-shadow:  0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a,
  0 0 100px #00ff0a;
  transform: scale(0.1);
  animation: animate 2s linear infinite;
  animation-delay: calc(0.05s * var(--i));
}
.circle:nth-child(2) span:before{
  animation-delay: calc(-0.05s * var(--i));
}
@keyframes animate {
  0%{
    transform: scale(1);
  }
  50%,100%{
    transform: scale(0.1);
  }
}
.cube{
  position: relative;
  left: 83%;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate5 4s linear infinite;
}
@keyframes animate5 {
  0%{
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100%{
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube2{
  position: relative;
  bottom: 150px;
  left: 50px;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate6 4s linear infinite;
}
@keyframes animate6 {
  0%{
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100%{
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.cube2 div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.cube1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515, #00ec00);
  transform: rotateY(calc(90deg * var(--i))) translateZ(75px);

}
.t{
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: #222;
  transform: rotateX(90deg) translateZ(-25px);
}
.t:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: #0f0f;
  transform: translateZ(-300px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(0,255,0,0.2),
              0 0 200px rgba(0,255,0,0.4),
              0 0 300px rgba(0,255,0,0.6),
              0 0 400px rgba(0,255,0,0.8);
}
.navigation{
  position: relative;
  left: 47%;
  bottom: 100px;
  width: 70px;
  height: 70px;
  background: #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  transition-delay: 0.8s;
}
.navigation.active{
  position: absolute;
  left: 42%;
  top: 45%;
  width: 200px;
  height: 200px;
  transition-delay: 0s;
}
.navigation .grid{
  position: absolute;
  width: 7px;
  height: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  transform: translate(calc(12px * var(--x)), calc(12px * var(--y)));
  transition: 0.5s, width 0.5s, height 0.5s, background 0.5s;
  transition-delay: calc(0.1s * var(--i));
}
.navigation.active .grid
{
  width: 45px;
  height: 45px;
  background: #333849;
  transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
}
.navigation .grid ion-icon
{
   transition: 0.5s;
   font-size: 0em;
}
.navigation.active .grid ion-icon{
  font-size: 1.35em;
  color: #fff;
}
.navigation.active .grid ion-icon:hover{
  color: #2dfc52;
  filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 5px #2dfc52) drop-shadow(0 0 15px #2dfc52);
}
