*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
p{
  position: relative;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 15px 40px;
  transition: 0.5s;
  overflow: hidden;
}
p:hover{
  background: blue;
  box-shadow:  0 0 20px blue, 0 0 40px blue, 0 0 60px blue, 0 0 100px blue;
  transition: 1s;
}
p span{
  position: absolute;
  display: block;
}
p span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, blue);
  animation: animate1 1s linear infinite;
}
p span:nth-child(2){
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, blue);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
p span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(2700deg, transparent, blue);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
p span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(3600deg, transparent, blue);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate1 {
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
@keyframes animate2 {
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
@keyframes animate3 {
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
@keyframes animate4 {
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}
